[Unit]
Description=PiClock
After=multi-user.target

[Service]
EnvironmentFile=-/etc/default/piclock
Type=forking
ExecStart=/usr/bin/spiclock $PICLOCK_OPTS
TimeoutSec=0

[Install]
WantedBy=multi-user.target
